<!DOCTYPE html>
<html>
  <head>
    <title>GoogleOmniauthTutorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>
    jQuery(function() {
      return $.ajax({
        url: 'https://apis.google.com/js/client:plus.js?onload=gpAsyncInit',
        dataType: 'script',
        cache: true
      });
    });

    window.gpAsyncInit = function() {
      gapi.auth.authorize({
        immediate: true,
        response_type: 'code',
        cookie_policy: 'single_host_origin',
        client_id: '1075579052937-tfa52mo9pc3rtpfr5500321l50clju25.apps.googleusercontent.com',
        scope: 'email profile'
      }, function(response) {
        return;
      });
      $('.googleplus-login').click(function(e) {
        e.preventDefault();
        gapi.auth.authorize({
          immediate: false,
          response_type: 'code',
          cookie_policy: 'single_host_origin',
          client_id: '1075579052937-tfa52mo9pc3rtpfr5500321l50clju25.apps.googleusercontent.com',
          scope: 'email profile'
        }, function(response) {
          console.log("response", response);
          delete response['g-oauth-window'];
          if (response && !response.error) {
            // google authentication succeed, now post data to server.
            jQuery.ajax({type: 'GET', url: '/auth/google_oauth2/callback', data: response,
              success: function(data) {
                console.log(data)
              }
            });
          } else {
            console.log('google authentication failed!', response)
          }
        });
      });
    };
  </script>
</html>
